<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/classassignments/src/classassignments/CS480RSudhakar18336prig2016assignment02.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="classassignments.CS480RSudhakar18336prig2016assignment02"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="classassignments"/>
</launchConfiguration>
